 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-size: 1.5rem;
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to right, rgb(231, 226, 226),lightcoral,lightseagreen );
    position: relative;
  
}

.container {
    height: 500px;
    width: 700px;
    border-radius: 10px; 
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.662);
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    padding-left: 20px 40px;
    background-color: aliceblue;
    background-image: url(./images/image1.png);
    position: absolute;
    top: 90px;
   
    
    
}

.container .header {
    background: linear-gradient(140deg, lightcoral, lightseagreen, lightpink, black);
    background-clip: text;
    color: transparent;
}

.container .section {
    width: 80%;
     
     
    
}

.container .section .input {
    width: 68%;
    padding: 15px 15px;
    font-size: 1.25rem;
    border-radius: 5px;
    box-shadow: 0px 2px 5px #333;
}

.container .section .button {
    width: 30%;
    padding: 15px 0px;
    font-size: 1.25rem;
    background: white;
    border-radius: 5px;
    box-shadow: 0px 2px 5px #333;

}

.container .section .button:hover {
    cursor: pointer;
    background: blue;
    color: white;
}
.header{
    display: flex;
    column-gap: 20px;
    margin-top: 25px;
    margin-right: 40px;
    
}
.container.image{
    display: flex;
    column-gap: 20px;
    margin-top: 2px;
    margin-right: 50px;
      
} 
.wdetails.display{
    background-image: url(./images/image2.png);
    border:3px solid #333;
    border-radius:5px;
    width: 350px;
    height: 270px;
    margin-right: 30px;
    text-align: center;
    font-size: 28px;
    padding-top: 35px;
    background-size: 340px 300px;
    color: aliceblue;
    box-shadow: 0px 5px 10px #333;
    


}
.container .section .input:hover {
    transform: scale(1.01);
}